@font-face {
  font-family: "balatro";
  src: url("./assets/m6x11.ttf");
}

body {
  background-image: url("https://preview.redd.it/balatro-main-menu-image-without-ui-elements-v0-yl1be0ojeevc1.jpg?width=2560&format=pjpg&auto=webp&s=58e6d55652cc252b1968c3d1df6b37c1a8162011");
  background-size: 100%;
  font-family: "balatro", 'Times New Roman', Times, serif;
}

h1 {
  color: white;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: justify;
}

/* UI Elements */
.ui {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Top left text */
.top-left {
  position: absolute;
  font-size: 600%;
  rotate: -25deg;
  top: -3px;
  left: 395px;
}

/* Hand Info Box */
#handinfo {
  width: 250px;
  margin-top: 25px;
  margin-bottom: -200px;
}

/* Hand Info Box - Name */
#handName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

/* Hand Info Box - Chip Count */
#chipCount {
  position: absolute;
  top: 70px;
  left: 588px;
}

/* Hand Info Box - Mult Count */
#multCount {
  position: absolute;
  top: 70px;
  left: 718px;
}

/* Game Info Box */
#infopanel {
  width: 180px;
}

/* Discard Count */
#discardCount {
  transform: translate(127px, -205px);
  color: #e25045;
}

/* Discard Button */
#discard {
  width: 130px;
  transform: translateX(100px);
}

/* The Hand of Cards */
.hand {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  gap: 20px;
  flex-wrap: wrap;
}

/* Active Hand */
.active {
  display: flex;
  justify-content: center;
  margin-top: -4%;
  margin-bottom: 4%;
  gap: 20px;
  flex-wrap: wrap;
}