@font-face {
  font-family: "balatro";
  src: url("./assets/m6x11.ttf");
}

body {
  background-image: url("https://preview.redd.it/balatro-main-menu-image-without-ui-elements-v0-yl1be0ojeevc1.jpg?width=2560&format=pjpg&auto=webp&s=58e6d55652cc252b1968c3d1df6b37c1a8162011");
  background-size: 100%;
  font-family: "balatro", 'Times New Roman', Times, serif;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

.ui {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Top left text */
.top-left {
  position: absolute;
  font-size: 600%;
  rotate: -25deg;
  top: -3px;
  left: 395px;
}

.hand {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  gap: 20px;
  flex-wrap: wrap;
}

.active {
  display: flex;
  justify-content: center;
  margin-top: -4%;
  margin-bottom: 4%;
  gap: 20px;
  flex-wrap: wrap;
}